<link rel="stylesheet" href="/static/primary/css/partials/footer.css">
<footer>
    <p>This site was made <s> with html </s> by Genius</p>
    <p>©2023 N.A.P & M.M.R, Th_eShop inc, Quartec-labs</p>
</footer>
