<link rel="stylesheet" href="/static/primary/css/partials/header.css">

<nav>
    <ul class="navbar">
        <li>
            <a href="/" id="th_eshop-name">Th_Eshop</a>
        </li>

        <li>
            <a>
                <form action="/search" method="GET" id="header-form">
                    <label for="query" hidden>Search</label>
                    <input type="text" name="query" placeholder="Search Th_Eshop">
                    <input type="submit" value="Search">
                </form>
            </a>
        </li>

        {{#unless user}}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        {{/unless}}

        <li>
            <a><input type="checkbox" class="design_switch">Dark</a>
        </li>


        {{#if user}}
            <li><a href="/my/basket">Basket</a></li>

            <li>
                <div id="dropdown">
                    <div>
                        <a href="/profile"><button id = "dropdown-button">{{user}}</button></a>
                    </div>
                    <div id = "dropdown-content">
                        <a href="/profile">Profile</a>
                        <a href="/my/orders">My orders</a>
                        {{#if seller}}<a href="/my/products">My products</a>{{/if}}
                        <form action="/logout" method="POST">
                            <a class="for_input" ><input type="submit" value="Logout"></a>
                        </form>
                    </div>
                </div>
            </li>
        {{/if}}
    </ul>

    <script>
        function change_design(dark, a) {
            if(this.checked) {
                setCookie("t_design", "secondary", 365);
            } else {
                setCookie("t_design", "primary", 365);
            }
            window.location = window.location;
        }

        let checkbox = document.querySelector(".design_switch");
        checkbox.addEventListener("change",change_design);
        checkbox.checked = getCookie("t_design") == "secondary";
    </script>
</nav>
