<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{>templates/partials/common}}
</head>
<body>
    {{>templates/partials/header}}


    <div class="structure-column">
        <div class="column-color">
            <div class="structure-box-large">
                <h2>Add a product to sell</h2>
                <div id="product-creation">
                    <form method="POST" action="/product/create" enctype="multipart/form-data">
                            <div class="structure-column-out ">
                                <div class="structure-box-out">
                                    <div class="structure-box-small">
                                        <label for="productname">Product name</label>
                                        <input type="text" name="name">
                                        {{#if noname}}Product must have a name{{/if}}
                                    </div>

                                    <div class="structure-box-small">
                                        <label for="price">Product price</label>
                                        <input type="number" name="price">
                                        {{#if pricetolow}} Product price must be greater than zero.{{/if}}
                                    </div>
                                </div>

                                <div id="description" class="structure-box-o">
                                    <lablel for = "description">Description</lablel> <br>
                                    <div class="structure-box">
                                        <input id ="description-input" type = "text"  name = "description">
                                    </div>
                                    {{#if nodescription}} Product must have a description{{/if}}
                                </div>


                                <div class="structure-box-o">
                                    <div>
                                        <lablel for="available">Product available</lablel>
                                        <input type="number" name="available">
                                        {{#if availabletolow}} Available product must be greater than zero.{{/if}}<br>
                                    </div>
                                </div>

                                <div class="structure-box-o">
                                    <div>
                                        <label for="image">Image</label>
                                        <input type="file" name="image" value="select image">
                                        {{#if noimage}} A product requires an image.{{/if}}<br>

                                    </div>

                                    <input type="submit" value="confirm">
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                {{#if invalidInput}}
                    <b>Invalid input</b>
                {{/if}}
                {{#if invalidImageFormat}}This image format is not supported{{/if}}
                {{#if notSeller}}<b>Error: You are not a seller</b>{{/if}}

            </div>
            </div>
        </div>
    </div>
    {{>templates/partials/footer}}


</body>
</html>