<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{>templates/partials/common}}
</head>
<body>
    {{>templates/partials/header}}
    <div class="mainbody">
        <div class="contentbody">
            <h2>Add a product to sell</h2>
            <table>
                <form method="POST" action="/product/create" enctype="multipart/form-data">
                    <label for="productname">product name</label>
                    <input type="text" name="name">
                    {{#if noname}}Product must have a name{{/if}}<br>

                    <label for="price">product price</label>
                    <input type="number" name="price">
                    {{#if pricetolow}} Product price must be greater than zero.{{/if}}<br>

                    <lablel for = "description">description</lablel>
                    <input type = "text"  name = "description">
                    {{#if nodescription}} Product must have a description{{/if}}<br>

                    <lablel for="available">product available</lablel>
                    <input type="number" name="available">
                    {{#if availabletolow}} Available product must be greater than zero.{{/if}}<br>

                    <label for="image">image</label>
                    <input type="file" name="image" value="select image">
                    {{#if noimage}} A product requires an image.{{/if}}<br>

                    <input type="submit" value="confirm">
                </form>
            </table>
            {{#if invalidInput}}
                <b>Invalid input</b>
            {{/if}}
            {{#if invalidImageFormat}}This image format is not supported{{/if}}
            {{#if notSeller}}<b>Error: You are not a seller</b>{{/if}}
        </div>
    </div>
</body>
</html>