<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{>templates/partials/common}}
</head>
<body>
    {{>templates/partials/header}}
    <h2>Add a product to sell</h2>
    <form method="POST" action="/product/create" enctype="multipart/form-data">
        <label for="productname">product name</label>
        <input type="text" name="name"><br>

        <label for="price">product price</label>
        <input type="number" name="price"><br>

        <lablel for = "description">description</lablel>
        <input type = "text"  name = "description"><br>

        <lablel for="available">product available</lablel>
        <input type="number" name="available"><br>

        <label for="image">image</label>
        <input type="file" name="image"><br>

        <input type="submit" value="confirm">
    </form>

    {{#if invalidInput}}
        <b>Invalid input</b>
    {{/if}}
    {{#if invalidImageFormat}}This image format is not supported{{/if}}
    {{#if notSeller}}<b>Error: You are not a seller</b>{{/if}}

</body>
</html>