<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <header><a href="/"><h1>Th_Eshop</h1></a></header>

    <form>
        <input type="text" name="">
    </form>

    <button>no</button>
</body>
</html>