#profile-table {
    width : 100%;
    margin : auto;
}
/*
#profile-table th{
    text-align : left;
}

#profile-table td{
    background : grey;
    border-radius : 5px;
    color : white;
}
#profile-colum {
    display: grid;
    flex-direction: colum;
}
.profile-box {
    margin-left : auto;
    margin-right : auto;

    margin-top: 12%;
    margin-bottom: 12%;
    background : red;
}



*/