.navbar {
     list-style-type: none;
     padding: 0;
     overflow: hidden;
     background-color: #333333;
     margin: 0 0 1rem;
 }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

li:nth-child(n+2) {
    float: right;
}