<link rel="stylesheet" href="/static/css/partials/header.css">
<nav>
    <ul class="navbar">
        <li>
            <a href="/">Th_Eshop</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
    </ul>
</nav>