<link rel="stylesheet" href="/static/css/partials/header.css">
<nav>
    <ul class="navbar">
        <li>
            <a href="/">Th_Eshop</a>
        </li>

        <li>
            <a>
                     <form action="/search" method="GET" id="header-form">
                        <label for="query" hidden>Search</label>
                        <input type="text" name="query" placeholder="Search Th_Eshop">
                        <input type="submit" value="Search">
                    </form>
            </a>
        </li>

        <li>
            <a href="/login">Login</a>
        </li>

        <li>
            <a href="/register">Register</a>
        </li>
        <li>

        </li>
        <li>
            <div id = "dropdown">
                <div>
                    <a><button id = "dropdown-button">Account</button></a>

                </div>
                <div id = "dropdown-content">
                    <a href="/profile" value = "/profile">Profile</a>
                    <a href="/my/orders">Your orders</a>
                    {{#if seller}}<a href="/product/create">change to my products</a>{{/if}}
                </div>
            </div>
        </li>
    </ul>
</nav>