<html>

<head>
    {{>templates/primary/partials/common}}
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Th_Eshop - Everything you didn't know you needed</title>
</head>

<body>
    {{>templates/primary/partials/header}}
    <div class="structure-column">
        <div class="column-color">
            <div class="structure-box-large">
                    {{#unless recommendations_outer}}
                        <!-- <h2>For you:</h2> -->
                        <!-- show alternative recommendations -->
                    {{/unless}}
                    {{#each recommendations_outer}}
                        <div class="parent">
                            {{#each this}}
                                <a href="/product/{{id}}">
                                    <div class="div{{@index}}" >
                                        {{name}}<br>
                                        <img class="reco-img" src="/upload/product/{{id}}.png">
                                    </div>
                                </a>
                            {{/each}}
                        </div>
                    {{/each}}
            </div>
        </div>
    </div>
    {{>templates/primary/partials/footer}}

</body>
</html>