<html>

<head>
    {{>templates/primary/partials/common}}
    <title>Th_Eshop - Conform your account</title>
</head>

<body>
    {{>templates/primary/partials/header}}
    <div class="structure-column">
            <div class="column-color">

                <div class="structure-box-large">
                    <h2>Register confirm</h2>
                    <p>Please check your email for the code</p>

                    <form method="POST" action="register_confirm">
                        <div class="structure-box-out">
                            <div class="structure-box-small">
                                <input type="text" name="activationcode">
                            </div>
                            <div class="structure-box-small">
                                <div class="structure-box-centered">
                                    <input type="submit" value="confirm">
                                </div>
                            </div>
                        </div>
                        <label for="activationcode">Activation code</label>
                    </form>

                    {{#if register_confirm_success}}
                        Your account was confirmed! <br>
                        <a href="{{login_redirect_back}}">Continue</a>
                    {{/if}}

                    {{#if register_confirm_failure}}
                        Code incorrect.
                    {{/if}}
                </div>
        </div>
    </div>
    {{>templates/primary/partials/footer}}
</body>
</html>