#product_img {
    width: 20rem;
    height: 20rem;
}

.parent {
    border: #111111 solid;
}
.parent>div {
    border: #111111 solid;
    margin-right: 0.5rem;
    overflow: hidden;
}

.parent>div:last-child {
    margin-right: 0rem;
}

.reco-img {
    height: 10rem;
    width: 10rem;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div0 { grid-area: 1 / 1 / 2 / 2; }
.div1 { grid-area: 1 / 2 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 1 / 5 / 2 / 6; }