<html>

<head>
    {{>templates/partials/common}}
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Th_Eshop - Everything you didn't know you needed</title>
</head>

<body>
    {{>templates/partials/header}}
    <div class="structure-column">
        <div class="column-color">
            <div class="structure-box-large">


            </div>
        </div>
    </div>
    {{>templates/partials/footer}}

</body>
</html>