<html>

<head>
    <title>first test</title>
</head>

<body>

    <h1>Th_eShop</h1>
    <header id = header> line 1 Mein Konto


        <div>suche
        <form action="search" method="POST">
            <label for="query"> test</label>
            <input type="text" name="query" placeholder="type search query here">
            <input type="submit" value="Search">
        </form>
        </div>
     </header>

    <p>{{testtext}}</p>
    <p><a href="hello">Hello</a></p>
    <p><a href="hello2">Hello2</a></p>
    <p><a href="my/orders">My Orders</a></p>



</body>
</html>