<html>

<head>
    {{>templates/partials/common}}
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Th_Eshop - Everything you didn't know you needed</title>
</head>

<body>
    {{>templates/partials/header}}
    <div id="bcontents">

    <form action="/search" method="GET">
        <label for="query" hidden>Search</label>
        <input type="text" name="query" placeholder="Search Th_Eshop">
        <input type="submit" value="Search">
    </form>

    <p><a href="my/orders">My Orders</a></p>

    {{>templates/partials/footer}}
    </div>
</body>
</html>