<html>

<head>
    {{>templates/partials/common}}
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Th_Eshop - Everything you didn't know you needed</title>
</head>

<body>
    {{>templates/partials/header}}
    <div id="bcontents">

    {{>templates/partials/footer}}
    </div>
</body>
</html>