<html>

<head>
    <title>first test</title>
</head>

<body>

    <h1>Th_eShop</h1>
    <header id = header> line 1 Mein Konto


        <div>suche
        <form>
            <label> test</label>
            <input type="text">
        </form>
        </div>
     </header>

    <p>{{testtext}}</p>
    <p><a href="hello">Hello</a></p>
    <p><a href="hello2">Hello2</a></p>
    <p><a href="my/orders">My Orders</a></p>


    <p> Grundtext Das beste ist:   </p>
    <ul>

         {{#each Ed}}
             <li>{{this}}</li>
         {{/each}}
    </ul>


</body>
</html>