<html>

<head>
    {{>templates/partials/common}}
    <title>Th_Eshop - Log into you account</title>
</head>

<body>
    {{>templates/partials/header}}

    <div class="mainbody">
        <div class="contentbody">
            <table>
                <h1>Login</h1>
                <p>Or <a href="/register">Register</a></p>

                <form method="POST" action="login">
                    <label for="email">Email</label>
                    <input type="text" name="email"><br>

                    <label for="password">Password</label>
                    <input type="password" name="password"><br>

                    <input type="submit" value="confirm">
                </form>

                {{#if user_wrong_pwd}}
                    Wrong password.
                {{/if}}

                {{#if user_not_confirmed}}
                    Please confirm you account.
                {{/if}}
            </table>



        </div>
    </div>
    {{>templates/partials/footer}}
</body>
</html>