<html>
<head>

</head>
    {{>templates/partials/common}}
    <title>Th_Eshop - Search</title>
<body>
    {{>templates/partials/header}}

    <h2>[n] Results for "[search_query]"</h2>
    <table>
        {{#if products}}
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Seller</th>
            </tr>
            {{#each products}}
                <tr>
                    <td><a href="/product/{{id}}">{{name}}</a> </td>
                    <td>{{price}}</td>
                    <td>{{seller}}</td>
                </tr>
            {{/each}}
        {{/if}}

        {{#unless products}}
            No products found.
        {{/unless}}
    </table>
    {{>templates/partials/footer}}
</body>
</html>