<html>
<head>

</head>

<body>

    <style>

    </style>

    <header><a href="/"><h1>Th_Eshop</h1></a></header>
    <p>Search:</p>
    <table>
        {{#if products}}
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Seller</th>
            </tr>
            {{#each products}}
                <tr>
                    <td><a href="/product/{{id}}">{{name}}</a> </td>
                    <td>{{price}}</td>
                    <td>{{seller}}</td>
                </tr>
            {{/each}}
        {{/if}}

        {{#unless products}}
            No products found.
        {{/unless}}
    </table>

</body>
</html>