<html>
<head>

</head>

<body>

    <style>

    </style>

    <header><a href="/"><h1>Th_Eshop</h1></a></header>
    <p>Suche:</p>
    <table>
        {{#if products}}
            <tr>
                <th>Bezeichnung</th>
                <th>Preis</th>
                <th>Verkäufer</th>
            </tr>
            {{#each products}}
                <tr>
                    <td><a href="/product/{{id}}">{{bezeichnung}}</a> </td>
                    <td>{{preis}}</td>
                    <td>{{verkauufer}}</td>
                </tr>
            {{/each}}
        {{/if}}

        {{#unless products}}
            Keine Produkte gefunden.
        {{/unless}}
    </table>

</body>
</html>