footer {
    color: black;
    position: relative;

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #242333;

    color : white;
    height : 5%;
    margin : auto;

    align-items : center;
    /*
    display : flex;
    flex-direction : column;
    vertical-align : middle;
    */
    display : inline-block;
}

footer p {
    color : white;
    margin : 0;
    text-align : center;
    vertical-align : middle;
}

.span-arial {
    font-family: Arial;
}