html,body {
    margin: 0;
    padding: 0;
}
body {
    background : lightgrey;
}

h2 {
    color : black;
    font-family : 'Bebas Neue', display;
    font-size : 30px;
    margin-top : 0;
}
.product-h2 {
    margin-top : revert;
    margin-bottom : 0px;
}

p, a, label {
    font-family : 'Roboto';
    font-weight : 400;
}

.light-font {
    font-family : 'Roboto';
    font-weight : 300;
}

.justify {
    text-align : justify;
}

a:hover {
    color : #01B0D3;
}
b {
    font-family : "Roboto";
}

#order_img {
    max-width: 50%;
    max-height: 100%;

    border: 3px solid #242333;
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 5px;
}

#product_img {
    /*max-width: 50%;*/
    max-height: 100%;
}

input {
    font-family : "Roboto";
    font-weight : 300;
}

.outerbox {
    display : flex;
}
#product-creation form {
    color : black;
    font-family: "Roboto";
}

#product-creation .structure-box-small input {
    width : 100%;
    font-family : "Roboto";
}

#spacer {
    width : 10%;
}

#product-creation .structure-box input[type="text"], #product-creation .structure-box input[type="number"]{
    width : 100%;
}
.box {
      display: inline-block;
      width : 50%;
}

#register label {
    color : black;
}

body {
    font-family : "Roboto";
    color : black;
}

.description {
    margin-top : 0;
}

.search {
    background-color : #01B0D3;
}