.recommendation-row {
    padding : 10px;
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    width: 100%;
    overflow : hidden;
    height : 238px;
}

.rec-box {
    margin : 0;
    /*border : 3px #242333 solid;*/
    /**background : #01B0D3;*/

    /* Makes desighn cartoony when active
    background : #242333;
    */
    box-shadow : 0px 0px 5px;
    -webkit-animation: scale 2s;
    transition : 0.5s, width 2s;
}

.rec-box img{
    border : 3px #242333 solid;
    background : white;
}

.rec-box a{
    color : inherit;
}

.rec-div{
    /*background : #01B0D3;
    border : 2px white solid;*/
    background : inherit;
    display: flex;
    flex-direction : column;
    align-items : center;
}

.rec-box:hover > {
    color : white;
    border : 0;
    background : #01B0D3;
}

.rec-box:hover {
    color : white;
    /*border : 2px #01B0D3 solid;*/
    background : #01B0D3;
    transform: scale(1.1);
      -webkit-animation: scale 2s;
    width : 20%;
}



/*
.rec-div:hover{
    /*
    background: #056;
    */
    /*
    color : white;
    border : 2px #01B0D3 solid;
    background : #01B0D3;
}
*/

.rec-div b{
    white-space: nowrap;
    overflow: hidden;
    text-overflow : ellipsis;
    width : 165px;
    display : inline-block;
}