.parent1, .parent2, .parent3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }


.parents div input {
    width: 90%;
}