header {
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--col-hd);
}

header ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, auto) 7rem 1fr repeat(4, auto);
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-grid;
    padding: 1rem;
    border-radius: 0.4rem;
    transition: 0.3s;
    color: var(--col-hd-tx);
}

header ul li:hover {
    background-color: var(--col-hd-tx);
    color: black;
}

header ul li:hover[class="empty-li"] {
    color: inherit;
    background-color: inherit;
}

header ul li a {
    text-decoration: none;
    color: inherit;
    border-radius: 0.4rem;
}

.logo {
    filter: invert(0.75)
}

header ul li .img_a {
    max-height: 3rem;
    padding: 0;
}

.img_li {
    padding: 0;
}

header ul li .img_a img {
    max-height: 100%;
}

.user-dropdown {
    position: relative;
    display: inline-block;
}

.user-dropdown-content {
    margin-top: 1rem;
    margin-left: -1rem; /* works for some reason */
    border-radius: 0.4rem;
    display: none;
    position: absolute;
    background-color: var(--col-hd);
    width: 100%; /*Fix*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: var(--col-hd-tx);
}

.user-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.user-dropdown-content a:hover {
    background-color: var(--col-hd-tx);
    color: var(--col-hd);
}

.user-dropdown:hover .user-dropdown-content {
    display: block;
}

.seach-form input {
    background-color: var(--col-hd-tx);
    border: none;
    border-radius: 0.3rem;
    outline: none;
}

.seach-form-li {
    padding: 12px;
}

.seach-form-li:hover { /* disable hover color change */
    background-color: inherit;
    color: inherit;
}


.logout-form input[type=submit] {
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    border-radius: 0.4rem;

    background-color: transparent;
    outline: none;
    border: none;
    color:inherit;
    cursor: pointer;
}

.logout-form input[type=submit]:hover {
    background-color: var(--col-hd-tx);
    color: var(--col-hd);
}

.basket-icon-a {
    width: 2.5rem;
    padding: 0 1rem;
}

.basket-icon-a > img {
    margin-top: 0.4rem;
    width: 100%;

}

.basket-icon-a img:hover {
    filter: saturate(0%)  brightness(0%) invert(0.25);
}

.basket-icon-li {
    padding: 0;
}