<html>

<head>
    <title>first test</title>
</head>

<body>

   Hello, this email was sent because you signed up for "th_eshop". <br>
   If this wasn't you, you can ignore this email. <br>

    Activation code: <code>{{activation_code}}</code>



</body>
</html>